<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>

<body>

<h2 th:align="center">User</h2>

<br>

<div>
    <th:block>
        <table th:border="5" th:width="500" th:height="50" th:align="center" th:cellspacing="5" th:bgcolor="bisque">
            <thead>
            <tr th:bgcolor="Plum">
                <th>Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:align="center" th:bgcolor="LightYellow">
                <td th:text="${showUser.getFirstName()}"></td>
                <td th:text="${showUser.getLastName()}"></td>
                <td th:text="${showUser.getAge()}"></td>
                <td th:text="${showUser.getEmail()}"></td>
            </tr>
            </tbody>
        </table>

        <table th:border="0" th:width="500" th:height="50" th:align="center">
            <tbody>
            <tr th:align="center">
                <td>
                    <form th:method="GET" th:action="@{/users/{id}/editUser(id=${showUser.getId()})}">
                        <input th:type="submit" value="Edit user"/>
                    </form>
                </td>
                <td>
                    <form th:method="DELETE" th:action="@{/users/{id}(id=${showUser.getId()})}">
                        <input th:type="submit" value="Delete user"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </th:block>
</div>
</body>
</html>